<%#= render :partial => "form" %>
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, :class => "forget-form", :novalidate=>"novalidate"  }) do |f| %>
    <%#= devise_error_messages! %>
    <h3>Forget Password ?</h3>
    <div id="forget-response-block" class="alert display-hide">
        <button class="close" data-close="alert"></button>
        <span>Enter your username and password. </span>
    </div>
    <div class="forgot-block">
        <p>
            Enter your e-mail address below to reset your password.
        </p>
        <div class="form-group">
            <div class="input-icon">
                <i class="fa fa-envelope"></i>
                <input id="user_email" class="form-control placeholder-no-fix valid" type="email" name="email" attrName="user[email]" placeholder="Email" autocomplete="off" autofocus="autofocus" aria-invalid="false" aria-describedby="user_email-error">
                </div>
            </div>

            <div class="form-actions">
                <button type="button" id="back-btn" class="btn">
                <i class="m-icon-swapleft"></i> Back to login</button>

                <button type="submit" id="forgot-submit" class="btn green-haze pull-right">
                Submit <i class="m-icon-swapright m-icon-white"></i>
            </button>
        </div>
    </div>
<% end %>
<%#= render "devise/shared/links" %>






