<%#= render :partial => "form" %>
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, :class => "forget-form", :novalidate=>"novalidate"  }) do |f| %>
  <%#= devise_error_messages! %>
  <h3>Forget Password ?</h3>
        <p>
            Enter your e-mail address below to reset your password.
        </p>
        <div class="form-group">
            <div class="input-icon">
                <i class="fa fa-envelope"></i>

            <input id="user_email" class="form-control placeholder-no-fix valid" type="email" name="user[email]" placeholder="Email" autocomplete="off" autofocus="autofocus" aria-invalid="false" aria-describedby="user_email-error">
            
                </div>
            </div>
            <div class="form-actions">
            <button type="button" id="back-btn" class="btn">
                <i class="m-icon-swapleft"></i> Back </button>


        <button type="submit" class="btn green-haze pull-right">
                Submit <i class="m-icon-swapright m-icon-white"></i>
            </button>
            </div>

<% end %>
<%#= render "devise/shared/links" %>
 <script>
    jQuery(document).ready(function() { 
        jQuery('#submit_action').click(function(e) { 
            if (jQuery('.forget-form').validate().form()) { 
                jQuery('.forget-form .form-control').each(function() {
                    jQuery(this).attr('name', jQuery(this).attr('attrName'));
                });
                jQuery('.forget-form').submit();
            }
            return false;
        });
    });
</script>






