<div class="content">
    <div id="login-block">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), :html => {:class => 'login-form', novalidate:"novalidate" }) do |f| %>
        <h3 class="form-title">Login to your use account</h3>
        <div class="alert alert-danger display-hide">
            <button class="close" data-close="alert"></button>
            <span>Enter your username and password. </span>
        </div>
        <div class="form-group">
            <label class="control-label visible-ie8 visible-ie9">Username</label>
            <div class="input-icon">
                <i class="fa fa-user"></i>
                <input id="user_email" class="form-control placeholder-no-fix valid" type="email" name="username" attrName="user[email]" placeholder="Username" autocomplete="off" autofocus="autofocus" aria-invalid="false" aria-describedby="user_email-error">
            </div>
        </div>

        <div class="form-group">
            <label class="control-label visible-ie8 visible-ie9">Password</label>
            <div class="input-icon">
                <i class="fa fa-lock"></i>
                <input id="user_password" class="form-control placeholder-no-fix valid" type="password" name="password" attrName="user[password]" placeholder="Password" autocomplete="off" aria-invalid="false">
            </div>
        </div>
        
          <label class="checkbox"> 
            <input type="checkbox" name="remember" value="1"/> Remember me </label> 
            <div class="form-actions clearfix">
                <button type="button" id="submit_action" class="btn green-haze pull-right">
                    Log in <i class="m-icon-swapright m-icon-white"></i>
                </button>
                
            </div>
    <% end %>
    <!-- END LOGIN FORM -->
    <!-- BEGIN FORGOT PASSWORD FORM -->
    <div class="forget-password">
        <h4>Forgot your password ?</h4>
        <%= render :partial => "devise/shared/links" %>
    </div>
    </div>
    <div id="forgot-block" style="display: none;">
    <%= render :partial => "devise/passwords/form" %> 
    </div>            
</div>
<!-- END PAGE LEVEL SCRIPTS -->
<script>
    jQuery(document).ready(function() {    
        // Login validation 
        jQuery('#submit_action').click(function(event) { 
            event.preventDefault();
            if (jQuery('.login-form').validate().form()) { 
                jQuery('.login-form .form-control').each(function() {
                    jQuery(this).attr('name', jQuery(this).attr('attrName'));
                });
                // jQuery('.login-form').submit();
                var serializedData = $('.login-form').serialize();
                
        $.ajax({
            type: "POST",
            url: "/users/sign_in",
            data: serializedData,
            dataType: "html",
            success: function(response) {
                alert(response);
                console.log(response);
                // location.reload();
            },
            error: function(error){
            return false;
            }
        });
            }
            return false;
        });
        // Forgot validation
        jQuery('#forgot-submit').click(function(event) {
             event.preventDefault();
            if (jQuery('.forget-form').validate().form()) { 
                jQuery('.forget-form .form-control').each(function() {
                    jQuery(this).attr('name', jQuery(this).attr('attrName'));
                });
                // jQuery('.forget-form').submit();
                var serializedData = $('.forget-form').serialize();
                
                jQuery.ajax({
                    type: "POST",
                    url: "/users/password",
                    data: serializedData,
                    dataType: "html",
                    success: function(response) {
                        alert("Email Successfully send..")
                        // console.log(response);
                        location.reload();
                    },
            error: function(error){
            return false;
            }
        });
            }
            return false;
        });
        // Forgot Hide Show
        jQuery('#forget-password').click(function(e) { 
            jQuery('#forgot-block').show();
            jQuery('#login-block').hide();
            jQuery('#forget-form').show();
        });
        // back-btn
        jQuery('#back-btn').click(function(e) { 
            jQuery('#login-block').show();
            jQuery('#forgot-block').hide();
            jQuery('#forget-form').show();
        });
    });
</script>
<!-- END JAVASCRIPTS -->
