 <!-- BEGIN PAGE CONTAINER -->
 <div class="page-container">
    <!-- BEGIN PAGE HEAD -->
    <div class="page-head">
        <div class="container-fluid">
            <!-- BEGIN PAGE TITLE -->
            <div class="page-title">
                <h1>Sales People<small> Find and manage sales people</small></h1>
            </div>
            <!-- END PAGE TITLE -->
            <!-- BEGIN PAGE TOOLBAR -->
            <div class="page-toolbar">
                <!-- BEGIN THEME PANEL -->
                
            </div>
            <!-- END PAGE TOOLBAR -->
        </div>
    </div>    
    <!-- END PAGE HEAD -->
    <div class="page-content">
        <div class="container-fluid">
            <ul class="page-breadcrumb breadcrumb">
                <li>
                    <a href="/dashboard">Dashboard</a><i class="fa fa-circle"></i>
                </li>
                <li>
                    <a href="/sales">Sales People</a><i class="fa fa-circle"></i>
                </li>
                <li class="active">
                    Add
                </li>                   
            </ul>
            <!-- BEGIN PAGE CONTENT INNER -->
            <div class="row">
                <div class="col-md-12">
                    <div class="portlet light" id="form_wizard_1">
                        <div class="portlet-title">
                            <div class="caption">
                                <span class="caption-subject font-green-sharp bold uppercase">
                                    <i class="fa fa-user"></i> Add Sales Person</span>
                            </div>
                        </div>
                        <div class="portlet-body form">
                            <!-- BEGIN FORM-->
                            <!-- <form role="form" id="form_sample_3" class="horizontal-form" method="post" action="javascript:;"> -->
                            <form id="new_sales" class="new_sales" method="post" accept-charset="UTF-8" action="/welcome">
                                <div class="alert alert-success display-hide" class="horizontal-form">
                                    <button class="close" data-close="alert"></button>
                                    Sales person information are successfully Added! 
                                </div>
                                <div class="alert alert-danger display-hide">
                                    <button class="close" data-close="alert"></button>
                                    You have some form errors. Please check below.
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label">First Name <span class="required">*</span></label>
                                            <input type="text"  name="v_firstname" attrName="user[v_firstname]" placeholder="Your first name" class="form-control"/>
                                        </div>
                                    </div>                                                    
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label">Last Name <span class="required">*</span></label>
                                            <input type="text"  name="v_lastname" attrName="user[v_lastname]"placeholder="Your last name" class="form-control"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label">Email <span class="required">*</span></label>
                                            <input type="text" name="email" attrName="user[email]" placeholder="Your email id" class="form-control"/>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label">Password <span class="required">*</span></label>
                                            <input type="password" name="password" attrName="user[password]" placeholder="Your password"  class="form-control"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label">Skype Id <span class="required">*</span></label>
                                            <input type="text" name="v_im_skype" attrName="user[v_im_skype]"
                                            placeholder="Your Skype Id"  class="form-control"/>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label">Skype Password  <span class="required">*</span></label>
                                            <input type="password" name="v_im_password" attrName="user[v_im_password]" placeholder="Your Skype Password"  class="form-control"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">        
                                        <div class="form-group">
                                            <label class="control-label">Phone <span class="required">*</span></label>
                                            <input type="text" class="form-control" name="v_phone" attrName="user[v_phone]" placeholder="Your Phone Number" />
                                        </div>                                                            
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label">Gmail ID </label>
                                            <input type="text" name="v_gmail" attrName="user[v_gmail]" placeholder="Your Gmail ID"  class="form-control"/>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="row">
                                    <div class="col-md-6">        
                                        <div class="form-group">
                                            <label class="control-label">LinkedIn Profile</label>
                                            <input type="text" name="v_linkedin_url" attrName="user[v_linkedin_url]" placeholder="Your LinkedIn Profile"  class="form-control"/>
                                        </div>
                                    </div>
                                    <div class="col-md-6">                      
                                        <div class="form-group">
                                            <label class="control-label">Status <span class="required">*</span></label>
                                              <select class="form-control select2me" name="e_status" attrName="user[e_status]">
                                                <option value="Active">Active</option>
                                                <option value="Inactive">Inactive</option>
                                              </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="left">
                                    <!-- <a href="#" id="submit-personal-info-form" class="btn green-haze">Submit</a> -->
                                    <%= submit_tag "Submit", :class=>"btn green-haze", :id=>"submit_sales_action" %>
                                    <a href="/" class="btn default">Cancel</a>
                                </div>
                            </form>
                            
                            <!-- END FORM-->
                        </div>
                    </div>
                </div>
            </div>
            <!-- END PAGE CONTENT INNER -->
        </div>
    </div>
 </div>
 <!-- END PAGE CONTENT -->   

  <script>
            jQuery(document).ready(function() {       
                // initiate layout and plugins
                Metronic.init(); // init metronic core components
            }); 

            jQuery(document).ready(function() {    
                // Login validation 
                jQuery('#submit_sales_action').click(function(event) { 
                    event.preventDefault();
                    if (jQuery('#new_sales').validate().form()) { 
                        jQuery('#new_sales .form-control').each(function() {
                            jQuery(this).attr('name', jQuery(this).attr('attrName'));
                        });
                        jQuery('#new_sales').submit();
                    }
            });
    });
</script>